---
import ProjectCard from "@/components/ProjectCard.astro";
import { data } from "@/data.ts";
import ProjectIcon from "@/assets/svg/projectIcon.svg";

const proyects = data.projects;
---

<section class="scroll-mt-17" id="proyectos">
    <h2
        class="flex items-center gap-2 text-2xl font-bold text-left text-gray-900 dark:text-gray-100 mb-4"
    >
        <ProjectIcon /> Proyectos
    </h2>
    <div class="grid grid-cols-2 gap-6">
        {
            proyects.map((project) => (
                <ProjectCard
                    title={project.name}
                    description={project.description}
                    imageUrl={project.img}
                    demoUrl={project.url}
                    githubUrl={project.github}
                    tech={project.tech}
                />
            ))
        }
    </div>
</section>
